.dropdown-menu > li > a:hover {
  background-color: #ffeb3b !important;
}

.dropdown-menu {
  background-color: #eeeeee !important;
}

.divider {
  background-color: lightgray !important;
}

#search-box-region {
  float: right;
}

#account-options {
  width: 200px;
  display: inline-block;
}

// carousel stuff

.carousel {
  margin: auto;
  width: 780px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.carousel-caption {
  text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black !important;
}

.carousel-images {
  max-height: 439px;
  max-width: 780px;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.carousel-control {
  border-radius: 10px;
}

h2 {
  text-align: center;
}

// movie list-style

.movie-list-items {
  width: 104px;
  height: 200px;
  max-height: 200px;
  margin: 2px 5px;
  padding-top: 6px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

.movie-list-items:hover {
  background-color: #ffeb3b;
}

.carousel-images {
  cursor: pointer;
}

#footer-show-region {
  height: 10px;
  width: 100%;
  padding: 10px;
}
