<div id='header-region'></div>
<div id='modal' class='modal' role="dialog" data-backdrop="static"></div>
<div id='main-region' class='container'></div>
<div id='footer-region'></div>

<%= javascript_tag do %>
  $(function() {
    MoviesForLater.start({
      environment: '<%= Rails.env %>'
    });
  });
<% end %>
